* {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none !important;
}

/* input {
  border: 1px solid #000;
  width: 200px;
  padding: 20px;
  font-size: 20px;
} */

.zeile-objektHinzufügen {
  background-color: rgb(142, 255, 142);
}

.tabelle-input {
  border-style: solid;
  border-color: #646262;
  margin: 20px;
  padding: 0;
}

/* .tabelle-select {
  margin: 0px;
  width: 100%;
  height: 100%;
} */

thead {
  padding: 0;
  text-align: center;
}

.tabelle {
  padding: 0;
}

select {
  width: 100px;
  border: 1px solid #646262;
}
